<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Create a new employee</p>
<a href="/createaccount"><button>Create</button></a>
<a href="/calendar_manager"><button>Calendar</button></a>
</body>
</html>
