<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src = "https://code.jquery.com/jquery-3.1.1.min.js" ></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<form action="/createaccount" method="POST">
    <fieldset>
      <legend>Enter the information of the employee</legend>
      Firstname<br>
      <input type="text" name="firstname" placeholder="Enter the firstname" required><br>
      Lastname<br>
      <input type="text" name="lastname" placeholder="Enter the lastname" required><br><br>
      Login<br>
      <input type="text" name="login" placeholder="Enter the login" required><br><br>
      Password<br>
      <input type="password" name="password" placeholder="Enter the password" required><br><br>
      Number of day off<br>
      <input type="number" name="numberdaysoff" placeholder="Enter the number of days off available each year" required><br><br>
      <input type="submit" value="Create">
    </fieldset>
</form>
</body>
</html>