    #calendar_head {
        border-top: 1;
    }
    
    .calendar_head td,
    .calendar_head th {
        border-style: solid;
        border-width: 1px;
        padding: 0;
        vertical-align: top;
    }
    
    .calendar table {
        width: 100%;
        box-sizing: border-box;
        table-layout: fixed;
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    body {
        margin: 50px 50px 50px 25px;
    }
    
    #wrap {
        width: 1500px;
        margin: 0 auto;
    }
    
    #new_event {
        float: left;
        width: 150px;
        padding: 0 10px;
        border: 1px solid #ccc;
        background: #eee;
        text-align: left;
    }
    
    #new_event h4 {
        font-size: 16px;
        margin-top: 0;
        padding-top: 1em;
    }
    
    #new_event .event {
        margin: 10px 0;
        cursor: pointer;
    }
    
    #new_event p {
        margin: 1.5em 0;
        font-size: 11px;
        color: #666;
    }
    
    #new_event p input {
        margin: 0;
        vertical-align: middle;
    }
    
    #calendar {
        float: right;
        width: 900px;
    }
    
    .mb-20 {
        margin-bottom: 20px;
    }
    
    .fc-resource-area td {
        cursor: pointer;
    }